<div class="container">
  <form>
    <label>Name</label>
    <input ng-model="newJob.name">
    <label>Description</label>
    <input ng-model="newJob.description">
    <button ng-click="jobs.push(newJob)">Add</button>
    <button ng-click="removeAll()">Remove All</button>
  </form>
  <ul>
    <li ng-repeat="job in jobs">
      <span>
        <strong><a href="/jobs/{{job._id}}">{{job.position}}</a></strong> - {{job.company}}
        <button ng-click="remove(job)">X</button>
      </span>
    </li>
  </ul>
</div>