<p>Job Details:</p>

<span>
	<p>Position: <input ng-model="job.position"></p>
	<p>Company: <input ng-model="job.company"></p>
	<p>Public: <input type="checkbox" ng-model="job.public"></p>
</span>

<div class="form-group" style="margin-top: 20px">
  <label>Details:</label>
  <textarea class="form-control" rows="5" id="comment" placeholder="Job details" ng-model="job.details"></textarea>
</div>

<span>
	<button ng-click="save(); job.details=''; job.position=''; job.public=false;" >Save</button>
	<button ng-click="job.details=''; job.company=''; job.public=false;">Clear</button>
	<button ui-sref="jobs">Cancel</button>
	<button type="button" ng-click="remove(job)" ui-sref="jobs">Delete</button>
</span>
