<div class="container">
  <form>
    <label>Position:</label>
    <input ng-model="newJob.position">
    <label>Company:</label>
    <input ng-model="newJob.company">
    <label>Public</label>
    <input type="checkbox" ng-model="newJob.public">
    <button ng-click="newJob.owner=$root.currentUser._id; jobs.save(newJob)">Add</button>
    <button ng-click="removeAll()">Remove All</button>
  </form>
  <ul>
    <li ng-repeat="job in jobs">
      <span>
        <strong><a href="/job/{{job._id}}">{{job.position}}</a></strong> - {{job.company}}
        <button ng-click="remove(job)">X</button>
      </span>
    </li>
  </ul>
</div>